.education {
  margin: 20px 0;
}

.title {
  border-bottom: 1px dashed rgb(9, 93, 119);
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1280px;
  text-align: center;
}

.education-center {
  color: rgb(70, 70, 70);
  font-family: "Itim", cursive;
}

.single-education {
  margin-bottom: 20px;
  font-size: 18px;
  background-color: #5e5a5a;
  color: white;
  padding: 5px;
  letter-spacing: 0.1rem;
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
}

@media screen and (min-width: 769px) {
  .education-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1020px;
  }

  .single-education {
    margin-right: 0;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
    padding: 10px;
    margin-bottom: 20px;
  }
}
